<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

  <welcome-file-list>
    <welcome-file>Home</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
  	<param-name>configProperties</param-name>
  	<param-value>/feedreader/config-default.properties,/feedreader/config-user.properties</param-value>
  </context-param>
  
  <listener>
    <listener-class>feedreader.web.StartupListener</listener-class>
  </listener>
  
  <!-- FIXME: we shouldn't instantiate the container filter for static resources -->
  <filter>
  	<filter-name>ContainerFilter</filter-name>
  	<filter-class>feedreader.web.ContainerFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>ContainerFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>feedreader.web.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/reader</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>RestAuthorizationFilter</filter-name>
  	<filter-class>feedreader.web.rest.RestAuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>RestAuthorizationFilter</filter-name>
  	<url-pattern>/services/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>feedreader.web.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>feedreader.web.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>feedreader.web.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/createUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Reader</servlet-name>
    <servlet-class>feedreader.web.ReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reader</servlet-name>
    <url-pattern>/reader</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Services</servlet-name>
    <servlet-class>feedreader.web.rest.RestServlet</servlet-class>
    <init-param>
      <param-name>classes</param-name>
      <param-value>
        feedreader.web.rest.FeedResourceHandler,
        feedreader.web.rest.StreamResourceHandler
      </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Services</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
</web-app>